body {
  font-family: "Playfair Display", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}

.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}
/* ================================Header========================= */
.header {
  padding-top: 71px;
  padding-bottom: 92px;
}
.menu-link {
  color: #7d7d7d;
}
.menu-link:hover {
  color: #03A9F4;
}
/* ================================Main========================= */
.gallery {
  padding-bottom: 66px;
}
.gallery-category{
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    color: #b4ad9e;
}
.gallery-title{
    font-weight: 400;
    font-size: 30px;
}
.gallery-button{
    font-family: "Playfair Display", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
}