
.gallary-item {
    flex-basis: calc((100% - 65px) / 2);
  }
  .gallary-photo {
    margin-bottom: 40px;
  }
  .gallary-category {
    font-family: $font-family-secondary;
    font-weight: 300;
    color: $color-text-category;
    margin-bottom: 40px;
  }
  .gallary-title {
    font-size: 30px;
    margin-bottom: 40px;
  }