$color-text-primary: #626262;
$color-text-hover: #03a9f4;
$color-text-secondary: #7d7d7d;
$color-text-category: #94ad9e;
$color-bg-button: #ffffff;

$font-family-primary: "playfair Display", serif;
$font-family-secondary: "Ubuntu", sans-serif;