* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
}

.container {
  max-width: 936px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.gallary {
  padding-bottom: 66px;
}

.gallary__container {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 130px;
  -moz-column-gap: 65px;
       column-gap: 65px;
  margin-bottom: 90px;
}

.header {
  padding-top: 71px;
  padding-bottom: 92px;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 555px;
  margin: 0 auto;
}

.menu__link:hover {
  color: #03a9f4;
}

.post__item {
  flex-basis: calc((100% - 65px) / 2);
}

.post__photo {
  margin-bottom: 40px;
}

.post__category {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #94ad9e;
  margin-bottom: 40px;
}

.post__title {
  font-size: 30px;
  margin-bottom: 40px;
}

.button {
  font-family: "playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  padding: 20px 50px;
  background-color: #ffffff;
  border: 1px solid #626262;
  align-self: center;
}